/*
Couples Resort Responsive Build
4 column grid as per XD file
 */

/* 
    CSS Guide 
Index Page
    1.  General Styles
    2.  Main Nav
    3.  Main Hero Image
    4.  Main Hero Image Contact
    5.  Why Couples Resort
    6.  About & FAQ
    7.  Contact Form
    8.  Footer 

Spa Page
   1.  Algonquin Spa Feature
   2.  SPA polices and information
   3.  Spa Product

Reservation Page
   1. Main Hero
   2. Policies
   3. Revisions of Policy

Algonquin Park Page
   1. Park Activities
   2. Fishing
   3. Galeairy Lake


 /* 1. ---General Styles--- */

 #mobile-outline {
    outline: 20px solid #333;
    max-width: 412px;
    margin: 20px auto 20px auto;
    border-radius: 10px;
 } 
 
 body {
    color: #626262;
    font-family: 'Sanchez', 'Times New Roman', serif;
 }
 
 a {
    text-decoration: none;
    transition: all .5s ease-in-out;
 }
 
 input, textarea {
    display: block;
    margin: 0;
    padding: 0;
 }
 
 .cr-red {
    color: #9a2018;
 }
 .bold {
   font-weight: bold;
 }
 .padding-top {
   padding-top: 20px;
 }
 
 /* 2. ---Main Nav--- */
 
  #main-nav label img {
    width: 20px;
    height: 20px;
    margin-top: 15px;
    cursor: pointer;
    transition: all .5s ease;
    margin-bottom: 20px; 
 } 
 
 
 
 #main-nav input, #burger-con {
    display: none;
 }
 
 
 /*   ~ sibling selector   */
 
 #main-nav input:checked ~ #burger-con {
    display: block;
 }
 
 #main-nav input:checked ~ label img {
    transform: rotate(90deg);
 }
 
 #main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
 }
 
 #main-nav ul li a {
    display: block;
    padding: 10px 0 10px 0;
    text-align: center;
    color: #626262;
 }
 
 #main-nav ul li {
    border-bottom: 1px solid #efefef;
 }
 
 #main-nav ul li:first-child {
    border-top: 1px solid #efefef;
 }
 
 #main-nav ul li:last-child {
    margin-bottom: 10px;
 }
 
 
 
 #logo {
    margin-bottom: 20px;
    max-width: 382px;
 }
 
 
 /* 3. ---Main Hero Image--- */
 
 #hero {
    background: url(../images/mob_hm_hero_01.jpg) no-repeat;
    height: 200px;
 }
 
 .book-now {
    background-color: #9a2018;
    color: #fff;
    font-size: 16px;
    transition: background-color 500ms linear;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    transition:all 0.3s ease;
    cursor: pointer;
 }
 
 .book-now:hover {
    background-color: rgb(196, 28, 28);
 }
 
 #book-now-hero {
    height: 67px;
 }
 
 #hero-heading-box {
    align-self: end;
 }
 
 .hero-img-h2, .hero-img-h3 {
    background: rgb(255, 255, 255);
    padding: 10px 15px;
    font-size: 14px;
 }
 
 .hero-img-h2 span,  .hero-img-h3 span {
    color: #c54242;
    font-size: 12px;
 }
 
 .line-separator {
    margin-top: 20px;
    border-top: solid 3px #9a2018;
    padding-top: 20px;
 }

 #hero-summary p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
 }
 
 /* 4. ---Main Hero Image Contact--- */
 
 .fas {
    font-size: 42px;
    color: #9a2018;
    margin: 0 auto;
    float: left;
 }
 
 .fa-mobile-alt {
    margin-right: 10px;
    margin-left: 3px;
    margin-bottom: 20px;
 }
 
 .fa-map-marker-alt {
    margin-right: 10px;
 }
 
 #contact {
    font-size: 11px;
    background-color: #efefef;
    padding-top: 30px;
    padding-bottom: 30px;
 }
 
 /* 5. ---Why Choose Us--- */
 
 #why-choose-us-nav {
    padding-top: 20px;
 }
 
 #why-choose-us-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
 
 }
 #why-choose-us-nav ul li {
    margin-bottom: 15px;
 }
 
 #why-choose-us-nav ul li a {
   color: inherit;
   padding: 5px;
 }
 
 #why-choose-us-nav ul li a.selected {
    border-left: #9a2018 solid 5px;
  }
 
 #why-choose-us-hero-con {
   background: url(../images/mob_hm_sec_01.jpg) no-repeat;
   height: 195px;
 }
 
 #why-choose-us-heading-box {
    align-self: end;
 }
 
 .why-choose-us-image {
    float: left;
    margin-right: 20px;
    margin-top: 30px;
 }
 
 .why-choose-us-image-con h2 {
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 30px;
 }
 
 .why-choose-us-image-con p {
    font-size: 12px;
    margin-bottom: 20px;
    line-height: 20px;
 }
 
 .why-choose-us-image-con a {
    color: #707070;
    font-size: 12px;
 }
 
 #why-choose-us-bottom-nav {
    background-color: #CF6666;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
 }
 
 #why-choose-us-bottom-nav ol {
    list-style-type: none;
    margin: 0 0 0 20px;
    padding: 0;
 }
 
 #why-choose-us-bottom-nav ol li {
    display: inline;
 }
 
 #why-choose-us-bottom-nav ol li a {
    padding: 5px;
    color: #fff;
 }
 
 /* 6. ---About & FAQ--- */
 
 #about-hero-con {
    background: url(../images/mob_hm_Sec_02.jpg) no-repeat;
    height: 195px;
 }
 
 #about-hero-heading-box {
    align-self: end;
 }
 
 #about-us-text {
    padding-bottom: 60px;
 }
 
 #about-us-text p {
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 22px;
 }
 
 #about-us-text-column2 {
    font-style: italic;
 }
 
 #faq-con {
    background-color: #f4f4f4;
    padding-top: 35px;
    padding-bottom: 30px;
 }
 
 #faq-con h2 {
    font-size: 23px;
    margin-bottom: 20px;
 }
 
 #faq-con h2 span {
    color: #c54242;
    font-size: 16px;
 }
 
 .faq-items {
    margin-bottom: 16px;
    background: #e8e7e7;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
 } 
 .faq-h{
   border-bottom: solid 3px #9a2018;
   margin-bottom: 20px;
}
 
 .faq-items ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
 }
 
 .faq-items li {
    padding: 8px 0;
    border-bottom: 1px solid #9a2018;
 }   
 
 .faq-items a {
    color: inherit;
    font-size: 13px;
 }
 
 #faq-text-con {
    margin-top: 20px;
    margin-bottom: 20px;
 }

 
 /* 7. ---Contact--- */
 
 #contact-hero-con {
    background: url(../images/mob_hm_sect_03.jpg);
    height: 195px;
 }
 
 #contact-hero-heading-box {
    align-self: end;
 }
 
 #contact-hero-text {
    margin-top: 15px;
    margin-bottom: 25px;
 }
 
 #contact-hero-address p {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 22px;
 }
 
 #contact-hero-address {
    margin-bottom: 30px;
 }
 
 #contact-hero-address h3 {
    margin-bottom: 25px;
 }
 
 #contact-hero-form form {
    display: flex;
    flex-direction: column;
 }
 
 #contact-hero-form input, textarea {
    padding: 22px;
    border: 2px solid #d6d6d6;
    background-color: #f7f7f7;
    border-radius: 5px;
    margin-bottom: 30px;
    font: inherit;
    width: auto;
 }
 
 #contact-hero-form textarea {
    height: 250px;
 }
 
 #contact-hero-form input[type="submit"] {
    padding: 12px 28px;
    background: #9a2018;
    color: #fff;
    border: none;
    transition: all 200ms ease-in;
    width: 150px;
    align-self: flex-end;
 }
 
 #contact-hero-form input[type="submit"]:hover {
    background-color: #626262;
    border-radius: 0;
 }
 
 /* 8. ---Footer--- */
 
 #footer-hero {
    background-image: url(../images/mob_hm_footer.jpg);
     background-repeat: no-repeat;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    padding-bottom: 70px;
 }
 
 #footer-hero h3, #footer-hero h2 {
    margin-top: 30px;
    font-size: 28px;
    margin-bottom: 16px;
 }
 
 #footer-privacy .line-seperator {
    margin-top: 0px;
 }
 
 #footer-contact-info h3 {
    font-size: 23px;
 }
 
 #footer-contact-info p {
    margin-bottom: 20px;
    line-height: 18px;
    font-size: 11px;
 }

 /* Spa Page */

.summary-img input {
      padding: 10px 20px 10px 20px;
      text-align: center;
      border: 2px solid #9a2018;
      background: #9a2018;
      font: inherit;
      width: auto;
      color: #fff;
      margin-left: auto;
      margin-right: 18px;
      font-size: 12px;
      margin-top: 15px;
}

 
 /* 1. ---Algonquin Spa Feature--- */
 #spa-feature-con {
   background-color: #f4f4f4;
   padding-top: 35px;
   padding-bottom: 30px;
   margin-top: 20px;
}

#spa-feature-con h2 {
   font-size: 14px;
   margin-bottom: 3px;
}

#spa-feature-con h2 span {
   color: #C54242;
   font-size: 12px;
}

.spa-feature-items {
   margin-bottom: 16px;
}

.spa-feature-items summary {
   background: #e8e7e7;
   padding: 16px;
   font-size: 15px;
}

.summary-img p {
  font-size: 15px;
}

.manicure {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.manicure p {
  font-size: 15px;
}


/* 2. ---SPA polices and information--- */

#spa-policies-info-con {
  background: url(../images/mob_spa_sec_02.jpg) no-repeat;
  height: 210px;
  width: 412px;
}

#spa-policies-info-heading-box {
   align-self: end;
}

.spa-policies-info-image {
   float: left;
   margin-right: 20px;
   margin-top: 30px;
}

#spa-policies-text p{
   font-size: 14px;
   margin-bottom: 20px;
   line-height: 22px;
}

#spa-policies form {
   display: flex;
   flex-direction: column;
}

#spa-policies input, #spa-policies input textarea {
   padding: 22px;
   border: 2px solid #9a2018;
   background: #9a2018;
   margin-bottom: 30px;
   font: inherit;
   width: auto;
   color: #fff;
   margin-left: auto;
  cursor: pointer;
}

#spa-policies textarea {
   height: 250px;
}

.keyframe-button {
   animation: pulse 3s infinite ease-in-out;
   transition: background-color 0.3s ease;
}

.keyframe-button:hover {
   background-color: #c54242;
}

.keyframe-button:active {
   background-color: #c54242;
}

@keyframes pulse {
   0% { transform: scale(1); 
       box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
   }
   50% { transform: scale(1.05);
       box-shadow: 0 0 15px #c54242; 
   }
   100% {  transform: scale(1); 
       box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
   }
}


/* 3. ---Spa Products--- */

#spa-products-heading-box {
  align-self: end;
}

#spa-products-text {
  padding-bottom: 20px;
}

#spa-products-text img {
  width: 101px;
  height: 124px;
}

#spa-products-text h3 {
  margin-top: 20px;
  font-size: 15px;
  text-align: left;
}

#spa-products-text p {
  margin-top: 5px;
  font-size: 15px;
  margin-bottom: 0px;
  line-height: 22px;
}

.product {
  display: flex;
  gap: 20px;
}


 /* Reservation Page */

 /* 1. ---Main Hero--- */
     
.book-now-form  {
  display: flex;
  align-items:center;
  gap: 5px;
  margin: 10px 0px;
}
.book-now-form input{
  width: 130px;
  height: 30px;
  background-color: #d9d9d9;
  border: 0;
  display: flex;
  justify-content: center;
  transition: transform 0.3s ease, background-color 0.3s ease;

}

.book-btn input {
   padding: 10px 10px;
   text-align: center;
   border: 2px solid #9a2018;
   background: #9a2018;
   font: inherit;
   width: auto;
   color: #fff;
   margin-right: 2px;
   margin-left: auto;
   font-size: 12px;
 }
 

.check {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 20px;
}

.check input {
   display: inline;
   margin: 0px;
   padding: 0px;
 }

 .check label {
   font-size: 16px;
 }

 .check input[type="checkbox"]:checked + span::after {
   content: "\2764";
   color: red;
   margin-left: 5px;
   justify-content: center;
   align-items: center;
 }
 .book-now-form label{
   width: 60px;
 }      
.book-now-form  {
  display: flex;
  align-items:center;
  gap: 5px;
  margin: 10px 0px;
}
.book-now-form input{
  width: 130px;
  height: 30px;
  background-color: #d9d9d9;
  border: 0;
  display: flex;
  justify-content: center;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
input[type="number"] {
   text-align: center;
}

.book-form input {
 width: 100%;
}

/* 2. ---Policies--- */

#booking-policy-con {
   background-color: #f4f4f4;
   padding-top: 15px;
   cursor: pointer;
}

#booking-policy-con h2 {
   font-size: 14px;
   margin-bottom: 2px;
}

#booking-policy-con h2 span {
   color: #C54242;
   font-size: 12px;
}

.booking-policy-items p {
   font-size: 15px;
   margin-top: 3px;
   line-height: 22px;
   margin-bottom: 20px;
}

.booking-policy-items {
   margin-bottom: 16px;
}

.booking-policy-items summary {
   background: #d6d6d6;
   padding: 16px;
   font-size: 15px;
}

/* 3. ---Revisions to Policy--- */

#revision-heading-box {
  align-self: end;
}

#revision-text {
  padding-bottom: 5px;
}

#revision-text p {
  font-size: 15px;
  margin-bottom: 5px;
  line-height: 22px;
}


/* Algonquin Park Page */

/* 1. ---Park Activities--- */
#activities-con {
   background-color: #f4f4f4;
   padding-top: 10px;
}

#activities-con h2 {
   background-color: #f4f4f4;
   padding-top: 10px;
}

.activity p {
   margin: 8px 0px 8px 0px;
   font-size: 12px;
   text-align: left;
}

.activity {
  display: flex; 
  justify-content: center;
  gap: 20px;
}

.activity img {
   height: 250px;
   width: 181px;
}

.para {
   font-size: 14px;
   line-height: 22px;
   margin-bottom: 10px;
}

.cta {
   text-align: center;
}

.learn-more {
   display: inline-block;
   background-color: #9a2018;
   color: #fff;
   font-size: 14px;
   text-decoration: none;
   padding: 10px 20px;
   margin: 0 0 10px 260px;
}

/* 2. ---Fishing--- */

#fishing-hero-con {
   background: url(../images/mob_park_sec_03.jpg) no-repeat;
   height: 210px;
}

#fishing-hero-heading-box {
   align-self: end;
}

#fishing-text {
   padding-bottom: 20px;
}

#fishing-text p {
   font-size: 14px;
   margin-bottom: 10px;
   line-height: 22px;
}

#fishing-text-column2 {
   font-style: italic;
}

/* 3. ---Galeairy Lake--- */
#lake-con {
   padding-top: 5px;
   padding-bottom: 15px;
}

#lake-heading-box {
   align-self: end;
}

#lake-text img {
   width: 201px;
   height: 130px;
}

#lake-text h3 {
   margin-top: 20px;
   font-size: 15px;
   text-align: left;
}
 
#lake-text p {
   margin-top: 10px;
   font-size: 14px;
   line-height: 22px;
}
 
.lake-img {
   display: flex;
   gap: 20px;
}


/* Valentines Day Offer Page - DESKTOP */

#desk-outline {
    
   max-width: 1200px;
   margin: 20px auto 20px auto;
   border-radius: 10px;
} 

/* 2. ---Main Nav--- */
 
#desk_main-header {
   display: flex;
   flex-wrap: nowrap;
   justify-content: space-between;
}

 #desk_main-nav ul {
   list-style-type: none;
   display: flex;
   padding: 0 0 0 10px; 
   border-left: 2px solid #626262;
 }

 #desk_main-nav ul li {
   margin: 7px;
 }
 #desk_main-nav ul li a {
   color: #626262;
 }

 #desk_logo {
   display: flex;
   align-items: center;
   width: 230px;
 }
 
  /* 3. ---Main Hero Image--- */
 
  #desk_hero {
   background: url(../images/desk_hm_hero.jpg) no-repeat;
   height: 450px;
}

.desk_book-now {
   background-color: #9a2018;
   color: #fff;
   font-size: 16px;
   transition: background-color 500ms linear;
   display: flex;
   justify-content: center;
   align-items: center;
   font-style: italic;
   transition:all 0.3s ease;
   cursor: pointer;
}

.desk_book-now:hover {
   background-color: rgb(196, 28, 28);
}

#desk_book-now-hero {
  width: 125px;
}

#desk_hero-heading-box {
   align-self: end;
}

.desk_hero-img-h2, .desk_hero-img-h3 {
   background: rgb(255, 255, 255);
   padding: 10px 15px;
   font-size: 24px;
}

.desk_hero-img-h2 span,  .desk_hero-img-h3 span {
   color: #C54242;
   font-size: 15px
}

.line-separator {
   margin-top: 20px;
   border-top: solid 3px #9a2018;
   padding-top: 20px;
}

#desk_hero-summary p {
   font-size: 16px;
   line-height: 22px;
   margin-bottom: 20px;
}


/* 6. ---About & activities--- */


.button {
   background-color: #9a2018;
   padding: 10px 20px 10px 20px;
   color: #fff;
   border: #C54242;
}

.details_button {
   text-align: center;
   margin-left: 64%;
   margin-top: 20px;
}

.view_details {
   display: inline-block;
   background-color: #9a2018;
   color: #fff;
   font-size: 14px;
   text-decoration: none;
   padding: 10px 20px;
   margin-bottom: 20px;
}

.yoga-text {
   background-color: #505050;
   color: #fff;
   font-size: 15px;
   margin-left: 10px;
   margin-bottom: 29px;
   padding-bottom: 43px;
 }
 .yoga-text p {
   padding: 50px;
 }
 .yoga-text a {
   color: #fff;
   padding: 45px;
 }
 .yoga-text a:hover {
 text-decoration: underline;
 }


 #desk_activities-con {
   background-color: #f4f4f4;
   padding-top: 35px;
   padding-bottom: 30px;
}

#desk_activities-con h2 {
   font-size: 23px;
   margin-bottom: 20px;
}

#desk_activities-con h2 span {
   color: #c54242;
   font-size: 16px;
}

.desk_activities-items {
   margin-bottom: 16px;
   background: #e8e7e7;
   padding: 16px;
   font-size: 16px;
   cursor: pointer;
   margin-top: 10px;
} 
.desk_activities-h{
  border-bottom: solid 3px #9a2018;
  margin-bottom: 20px;
}

.desk_activities-items ul {
   margin: 0;
   padding: 0;
   list-style-type: none;
}

.desk_activities-items li {
   padding: 8px 0;
   border-bottom: 1px solid #9a2018;
}   

.desk_activities-items a {
   color: inherit;
   font-size: 13px;
}

#desk_activities-text-con {
   margin-top: 20px;
   margin-bottom: 20px;
}
#desk_activities-list-group4 img {
   margin-top: 20px;
   margin-bottom: 20px;
}

.desk_text {
   display: flex;
   gap: 20px;
 }
 
 .desk_text-para {
   flex: 1;
   font-size: 16px;
   color: #333;
 }
 
 .desk_text-para p {
   margin: 0;
 }
 
 .desk_text-para strong {
   color: #9a2018;
 }
 /* 8. ---Footer--- */
 
 #desk_footer-hero {
    background-image: url(../images/desk_hm_foot.jpg);
     background-repeat: no-repeat;
    color: #fff;
    font-size: 12px;
    margin-top: 40px;
    padding-bottom: 80px;
 }
 
 #desk_footer-hero h2 {
   margin-top: 70px;
   font-size: 28px;
   line-height: 22px;
   margin-bottom: 10px;
}
 
 #desk_footer-privacy .line-seperator {
    margin-top: 0px;
 }
 #desk_footer-nav-con {
   padding-top: 53px;
 }
 #desk_footer-nav-con a {
   color: #fff;
   text-decoration: none;
   font-size: 14px;
}
#desk_footer-nav-con li {
   list-style: none;
   padding: 10px;
}

#desk_footer-nav-con2 {
   padding-top: 53px;
 }

 #desk_footer-nav-con2 a {
   color: #fff;
   text-decoration: none;
   font-size: 14px;
}
#desk_footer-nav-con2 li {
   list-style: none;
   padding: 10px;
}
.desk_foot {
   display: flex;
   justify-content: center;
   gap: 65px;
}

 #desk_footer-contact-info h2 {
    font-size: 23px;
 }
 
 #desk_footer-contact-info p {
    margin-bottom: 20px;
    line-height: 18px;
    font-size: 13px;
 }
 #price-policy {
   text-align: center;
   font-size: 13px;
 }
 .desk_foot_book-now p {
   background-color: #9a2018;
   color: #fff;
   font-size: 16px;
   transition: background-color 500ms linear;
   font-style: italic;
   transition:all 0.3s ease;
   cursor: pointer;
   padding: 20px 30px;
   margin: 60px 0px 0px 180px;
}

.desk_foot_book-now:hover p {
   background-color: rgb(196, 28, 28);
}

